/* CSS reset */

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Comic Neue', cursive;
    font-size: 16px;
}

body {
    background-image: url('assets/bg01.png');
    background-attachment: fixed;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    color: rgb(0, 255, 0);
}

a {
    color: rgb(0, 255, 0);
    text-decoration: none;
    border-bottom: 1px dotted rgb(0, 255, 0);
    display: inline-block;
}

a:hover {
    color: orangered;
    border-bottom: 1px dotted orangered;
}


/* Sticky footer */

html,
body,
app-root {
    position: relative;
    height: 100%;
}

app-root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}


/* Botões genéricos */

.basic-button {
    display: inline-block;
    padding: .5rem 1rem;
    color: rgb(0, 32, 0);
    background: linear-gradient(rgb(110, 238, 110), rgb(0, 117, 0));
    border-radius: .3rem;
    border: none;
}

.basic-button:hover {
    color: rgb(0, 255, 0);
    background: linear-gradient(rgb(0, 156, 0), rgb(0, 35, 0));
    border: none;
}


/* Classes de uso geral */

.center {
    text-align: center;
}


/* Bordas das caixas */

.hborder {
    border-left: 2px solid rgb(16, 255, 16);
    border-right: 2px solid rgb(16, 255, 16);
}

.vborder {
    border-top: 2px solid rgb(16, 255, 16);
    border-bottom: 2px solid rgb(16, 255, 16);
}

.hborder,
.vborder {
    position: relative;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .7);
}

.hbd {
    position: absolute;
    width: .4rem;
    height: 2px;
    background: rgb(16, 255, 16);
}

.vbd {
    position: absolute;
    height: .5rem;
    width: 2px;
    background: rgb(16, 255, 16);
}

.tl {
    top: 0;
    left: 0;
}

.tr {
    top: 0;
    right: 0;
}

.br {
    bottom: 0;
    right: 0;
}

.bl {
    bottom: 0;
    left: 0;
}