<h2>Página Inicial</h2>
<p>Página inicia da nossa aplicação Web de gestão de videogames.</p>
<p>Exemplo de link: <a href="http://luferat.net">Site do Autor</a></p>

<div class="hborder atention">
    <h3>Atenção Programador!</h3>
    <p>Lembre-se de atualizar as chaves de conexão com o Firebase com as chaves do seu projeto no Firebase, caso você esteja clonando esta aplicação.</p>
    <p>As chaves são configuradas no código fonte, no arquivo "src/environments/environments.ts".</p>

    <!-- Tics das bordas -->
    <div class="hbd tl"></div>
    <div class="hbd tr"></div>
    <div class="hbd bl"></div>
    <div class="hbd br"></div>
</div>